body{
    background-color: #1B3C53;
}

.header{
    margin: auto;
    display: flex;
    align-items: center;
    width: 180vh;
    height: 10vh;
    background-color: #234C6A;
    border-radius: 0px 0px 20px 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
    color: #F3E2D4;
}

.box1{
    margin-left: 100px;
    font-size: larger;
}

.box2{
    margin-left: 100px;
    font-size: larger;
}

.box3{
    margin-left: 100px;
    font-size: larger;
}

.boxes {
    display: flex;
    flex-direction: row; /* Ensures the boxes are aligned side by side */
    justify-content: space-between;
    margin-left: 30vh;
    gap: 50px;
}

.box-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px
}

.box-mid1{
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: larger;
    width: 80vh;
    height: 61vh;
    background-color: #234C6A;
    border-radius: 20px 0px 0px 20px;
}

.box-mid2{
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    font-size: larger;
    width: 80vh;
    height: 61vh;
    background-color: #234C6A;
}

.text{
    padding-top: 15vh;
    height: 45vh;
    color: #F3E2D4;
    background-color: #1B3C53;
    border-radius: 5px;
}

.box-mid3{
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    margin-right: 50px;
    font-size: larger;
    width: 80vh;
    height: 61vh;
    background-color: #234C6A;
    border-radius: 0px 20px 20px 0px;
}

img{
    height: 100%;
    width: 100%;
}

.footer{
    margin: auto;
    display: flex;
    align-items: center;
    width: 180vh;
    height: 10vh;
    background-color: #234C6A;
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
    color: white;
    margin-top: 50px;
}